.app-c-debezium-modal {
  height: 80%;
  min-height: 400px;
  max-height: 800px;
}

.pf-c-modal-box {
  --pf-c-modal-box__body--PaddingRight: 0;
  --pf-c-modal-box__body--PaddingLeft: 0;
  --pf-c-modal-box__body--PaddingBottom: 0;
  --pf-c-modal-box__body--last-child--PaddingBottom: 0;
}

.pf-c-modal-box__header {
  padding-bottom: var(--pf-global--spacer--lg);
}

.pf-c-modal-box__header + .pf-c-modal-box__body {
  --pf-c-modal-box__body--PaddingTop: 0;

  border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
}

.pf-c-card.pf-m-center-content .pf-c-card__header,
.pf-c-card.pf-m-center-content .pf-c-card__title,
.pf-c-card.pf-m-center-content .pf-c-card__body {
  justify-content: center;
  text-align: center;
}

.pf-c-card__header.pf-m-center-content,
.pf-c-card__title.pf-m-center-content,
.pf-c-card__body.pf-m-center-content {
  justify-content: center;
  text-align: center;
}

.pf-c-wizard.pf-m-color-scheme-light-200 {
  --pf-c-wizard__outer-wrap--BackgroundColor: var(--pf-global--BackgroundColor--200);
}

.pf-c-form {
  max-width: 1000px;
}

.pf-c-form__group-label {
  min-height: 32px;
}

.app-c-selectable-card {
  --pf-c-card--child--PaddingBottom: var(--pf-global--spacer--xl);
  height: 100%;
}
.app-c-selectable-card > .pf-c-card__header,
.app-c-selectable-card > .pf-c-card__title,
.app-c-selectable-card > .pf-c-card__body {
  justify-content: center;
  text-align: center;
}
.app-c-selectable-card > .pf-c-card__header {
  align-content: center;
  flex: 1 1 auto;
  min-height: 140px;
}
.app-c-selectable-card > .pf-c-card__header img {
  height: 50px;
  width: auto;
}
.app-c-selectable-card > .pf-c-card__title {
  font-size: var(--pf-global--icon--FontSize--lg);
  font-weight: var(--pf-global--FontWeight--light);
}
.app-c-selectable-card.app-m-focus::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: var(--pf-global--BorderWidth--md) solid var(--pf-global--active-color--100);
  border-radius: var(--pf-global--BorderRadius--sm);
}
